* {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;

}

:root {
    --heading-font: "Boldonse", system-ui;
    --heading-color: #274C77;
    --heading-size: 200;
    --remove-hyperlink: none;
    --primary-color: #274C77;
    --secondary-color: #6096BA;
    --accent1-color: #A3CEF1;
    --accent2-color: #E7ECEF;
    --body-text: "Raleway", sans-serif;
}

body {
    position: absolute;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--accent2-color);
}

header {
    font-family: var(--body-text);
    font-style: normal;
    display: grid;
    grid-template-columns: 30% 20% 1fr;
    background-color: var(--accent2-color);
    align-items: center;
    padding: 0%;
    margin: 0%;
    background-color: var(--primary-color);
    width: 80rem;
    height: 15rem;
    border-radius: 1rem;
}

.headcontainer {
    padding-right: 2rem;
}

.linksbox {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 3/4;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 0%;
    background-color: var(--secondary-color);
}

.box {
    border-right: 1px solid black;
    padding: 1rem;
    height: fit-content;
    text-decoration: none;
    color: black;
    flex: 1;
    text-align: center;
}

.lastbox {
    border-right: 0;
}

h2 {
    font-family: var(--heading-font);
    font-weight: var(--heading-size);
    font-style: normal;
    color: var(--heading-color);
}

main {
    padding-left: 0%;
    padding-right: 0%;
}

.hero {
    position: relative;
    /* max-width: 100%; */
}

.hero img {
    width: 80rem;
    height: auto;
    padding: 0%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 6%;
    background-color: rgba(236, 235, 243, 0.6);
    padding: 20px 262px 20px 295px;
    color: var(--primary-color);
    font-size: 3rem;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 14%;
    width: 90%;
    gap: 15px;
    background-color: rgba(50, 51, 104, 0.6);
    justify-content: end;
    font-size: 1rem;
}

.hero article img {
    position: absolute;
    width: 150px;
    border: 1px solid gray;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-left: 15px;
    top: 40px;
    left: 32rem;
    z-index: 1;
}

.hero article p {
    position: absolute;
    font-family: var(--body-text);
    padding-left: 0;
    left: 1%;
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgba(21, 21, 51, 0.6);
    padding: 50px;
    padding-right: 250px;
    color: var(--accent2-color);
}

.historysection {
    position: relative;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    width: 80rem;
    padding: 3rem 0 5rem 0;
}

.historysection div {
    display: flex;
}

.historysection img {
    width: 400px;
    height: 200px;
    padding-top: 20px;
}

.historysection h2 {
    text-align: center;
}

.riverpics {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 0%;
    background-color: var(--accent1-color);
    width: 80rem;

}

.riverpics h2 {
    text-align: center;
}

.riverpics div {
    display: flex;
    flex-direction: row;
}

.riverpics img {
    width: 10rem;
    padding-left: 0%;
}

.riverpics figcaption {
    text-align: center;
    width: 130px;
}

footer {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contactfooter p {
    grid-column: 1/2;

}

.contactlink {
    display: flex;
    align-items: center;
    justify-content: right;
}

.contactlink a {
    grid-column: 2/3;
    text-align: center;
    text-decoration: none;
    font-style: var(--body-text);
    color: var(--heading-color);
}

footer p {
    text-align: center;
    padding-right: 20px;
    grid-column: 2/3;
}

.sociallinks {
    text-decoration: var(--remove-hyperlink);
    grid-column: 3/4;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: right;
}

.sociallinks img {
    width: 30px;
    height: auto;
    padding: 0;
}

/* Contact Us page */

/* employee pictures */
.employee {
    position: relative;
    display: flex;
    /* grid-template-columns: 1fr 7rem 1fr; */
    padding: 1rem;
    margin: 3rem;
    margin-top: 5rem;
    justify-content: center;
}

.employee img {
    border: 3px solid rgba(41, 37, 70, 0.2);
    justify-content: end;
    width: 250px;
    border-radius: 0.5rem;
    padding: 0%;
}

.employee figure {
    flex-direction: column;
    align-items: center;
}

.employee h1 {
    position: absolute;
    color: var(--primary-color);
    right: 29%;
    bottom: 100%;
    padding: 0%;
    font-size: 2rem;
}

/* contact us part */

.contactus {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactus p {
    grid-column: 1/2;

}

.contactinfo {
    grid-column: 1/2;
    padding: 1rem 3rem 1rem 0rem;
    border-right: 1px solid var(--heading-color);
}

.employee figure {
    display: flex;
    justify-content: start;
    padding-left: 0%;
    margin: 0%;
}

.contactinfo figure img {
    width: 30px;
    padding: 0.5rem;
}

.contactinfo figcaption {
    display: flex;
    font-size: medium;
    color: var(--primary-color);
    align-items: center;
}

iframe {
    padding: 0%;
    border-radius: 1rem;
    width: 20rem;
    height: auto;
    margin-top: 1rem;
}

/* Form Styling */

fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: var(--primary-color);
    text-align: center;
}

form {
    /* width: 600px; */
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: white;
    display: grid;
}

legend {
    font-family: var(--heading-font);
    font-style: normal;
    padding: 0.5rem;
    color: var(--primary-color);
}

label,
input,
select,
textarea,
button {
    font-family: var(--body-text);
    font-style: normal;
}

.contactinfo label {
    text-align: left;
    padding-right: 1rem;
    padding-left: 0%;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

.contactinfo input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.button {
    padding-left: 1rem;
    display: flex;
    justify-content: start;
}

button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #eee;
    background-color: var(--primary-color);

}

button:hover {
    background-color: var(--accent1-color);
    text-shadow: 2px 2px black;
}


.message {
    display: grid;
    padding-top: 0.1rem;
}

.feedback {
    text-align: start;
    margin-bottom: 0.5rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;

}

/* Home Page */

.homediv {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding-top: 2rem;
}

.signform {
    height: 30rem;
    display: grid;
    grid-template-rows: 30% 20% 10% 10% 30%;
}

.signform fieldset {
    grid-row: 1/6;
    grid-column: 1/3;
}

.checkbox {
    font-size: small;
}

.signform button {
    height: 2rem;
}

.calling {
    background-color: rgba(205, 211, 231, 0.6);
    width: 32rem;
    padding: 0.01rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
}

.calling h3 {
    color: #1b1104;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: var(--heading-font);
    border: 1px solid rgb(5, 4, 102);
    width: 27.6rem;
}

.calling a {
    color: var(--heading-color);
    text-decoration: none;

}

/* images grid */

.col2 {
    display: grid;
    padding: 0%;
}

.col2 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0%;
}

.col2 figure {
    padding: 0%;

}

.col2 img {
    padding: 0%;

}

.col2 figcaption {
    position: absolute;

}

.col2 a {
    text-decoration: none;
    font-family: var(--heading-font);
    color: #274C77;
}

.col2 p {
    font-size: 1rem;
    width: 30rem;
    text-align: justify;
    font-family: var(--heading-font);
    color: #274C77;
    padding-left: 0.9rem;
    position: absolute;
    top: 83rem;
}

a:hover {
    text-shadow: 2px 2px black;
}

.mainimg img {
    width: 44rem;
}

.mainimg {
    width: 100%;
    padding: 0;
    margin: 0%;
    font-size: 3rem;

}

.mainimg figcaption {
    top: 78rem;
    padding: 0%;
    padding-bottom: 5rem;
    text-shadow: 6px 2px rgb(247, 240, 240);
    background-color: rgba(247, 240, 240, 0.6);
    border-radius: 0.8rem;
}

.secondary {
    width: 15rem;
    padding: 0%;
}

.img1 {
    padding: 0;
    width: 22rem;
    margin: 0;
}

.img2 {
    padding: 0;
    width: 22.1rem;
    margin: 0;
}


/* Trip Page */

.contactcalling {
    color: var(--heading-color);
    font-size: 3rem;
    font-family: var(--heading-font);
    text-align: center;
    padding: 2rem;


}

.contactcalling h1 {
    margin-bottom: 0%;
}

.contactcalling a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 2rem;
    font-family: var(--heading-font);
}

.trippics {
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
    margin-left: 0%;
}

.trippics img {
    width: 26rem;
    height: 18rem;
    display: block;
}


.text {
    color: var(--heading-color);
    font-size: 1.8em;
    text-align: justify;
    width: 24rem;
}

.text h1 {
    font-size: 1.2em;
}


.wwrinfo {
    display: flex;
    justify-content: center;

}

.wwrinfo table {
    border: 2px solid var(--heading-color);
    font-family: var(--body-text);
    color: #274C77;
    font-size: 2em;
    padding: 0%;

}

.wwrinfo caption {
    font-weight: bold;
    font-size: larger;
}

.wwrinfo th {
    background-color: var(--accent1-color);
    padding: 0%;
}

.wwrinfo td,
.wwrinfo th {
    border: 1px solid #274C77;
    padding: 8px 10px;
}

.footertrip {
    display: flex;
}